apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: lifytp
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 4100
    targetPort: 4100
    protocol: TCP
    name: http
  selector:
    app: auth-service
