# EXAMPLE FILE - DO NOT COMMIT REAL SECRETS

apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: lifytp
type: Opaque
data:
  # MINIO_ACCESS_KEY: base64-encoded access key
  MINIO_ACCESS_KEY: bGlmeQ==
  
  # MINIO_SECRET_KEY: base64-encoded secret key
  MINIO_SECRET_KEY: bGlmeXBhc3N3b3Jk
